# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
.venv/
venv/
env/

# PyInstaller
build/
*.spec

# exe — отправляются через Releases
*.exe

# IDE
.idea/
.vscode/

# Windows
Thumbs.db
desktop.ini

# Прочее
*.log
